body{
    background-color: #292E37;
}
p{
    color: #FFFFFF;
}
.booleanOn{
    width: 100px;
    height: 100px;
    background-color: #7FFF00;
}
.booleanOff{
    width: 100px;
    height: 100px;
    background-color: #FF0000;
}
